biopython==1.73
joblib==0.13.2
numpy>=1.16,<1.17
pandas==0.24.0
pysam==0.15.2 # with Samtools-1.7
pystan==2.19.0.0
pyyaml==5.4
scipy==1.2.1 # Statsmodels 0.9/Scipy 1.3.0 incompatibility
# Pin versions of following dependencies:
setuptools>=38.3.0
statsmodels==0.9.0
